/* .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  z-index: 100;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  font-weight: 800;
  margin: 0;
} */
